@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image{
    left:325px;
    top:0;
}
.phone-section-height{
    height: 600px;
}
.max-width-h1{
    max-width:1015px;
}
.max-width-p{
    max-width:825px;
}
.header-height{
    height:90vh;
}
.text-h2{
    font-size:2.5rem;
}
.text-price{
    font-size:4rem;
}
.max-width-section{
    max-width:1100px;
}
.max-con-peach{
    max-width:446px;
}
.phone-margin{
    margin-top:-213px;
}
.form-margin{
    margin-bottom:-117px;
    max-width:446px;
}